
*.?*~
*.bak*
*.org
*.orig
#*
*.pdf
*.txt
*.svg
*.zip
*.lzh
*.dxf
*.pro
*.net
*.sch
*.dsn
*.drl
*.g*
*.job
*.kicad_pcb*
*-cache*
*.cmp
*.dsn
*.3dshapes/
*.pretty/
debug/
archives/
.vscode/
.gitignore
.gitattributes
*.o
